PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://milindpatel1432_db_user:YOUR_PASSWORD@cluster0.bp1wgtc.mongodb.net/gamehub?retryWrites=true&w=majority&appName=Cluster0

CORS_ORIGIN=http://localhost:5173

JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
COOKIE_EXPIRE=30